button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid;
	border-color: #000;
	border-radius: 0;
	background: #fff;
	color: #000;
	font-family: 'Fira Sans', sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #000;
	color: #fff;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #000;
	color: #fff;
}