.wp-caption {
	font-family: "Fira Sans", sans-serif;
	font-style: italic;
	max-width: 100%;
}

.wp-caption .aligncenter {
	margin-top: 2em;
	margin-bottom: 2em;
}

.wp-caption.alignright,
.wp-caption.alignleft {
	margin-top: 0;
	margin-bottom: 1.5em;
}

.wp-caption em {
	font-style: normal; /* Inverse emphasis because of all italics */
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption-text {
	display: block;
	position: relative;
	margin: 1.5em 0 2em 2em;
	padding: 0 1em .5em;
	font-size: 90%;
	color: #333;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
}

.wp-caption-text::before {
	position: absolute;
	top: -3px;
	left: -1.4em;
	display: block;
	font-family: "FontAwesome";
	font-style: normal;
	color: #808080;
	content: "\f148";
	transform: rotate(90deg);
}

.aligncenter .wp-caption-text,
.alignnone .wp-caption-text {
	margin-left: 30%;
	margin-bottom: 2em;
}

.alignright .wp-caption-text,
.alignleft .wp-caption-text {
	margin-top: 1em;
	margin-bottom: 1em;
}
